.product {
    display: flex; /* Muestra los elementos internos en una fila */
    align-items: center; /* Alinea verticalmente los elementos en el centro */
    background-color: rgba(236, 156, 169, 0.856); /* Establece el color de fondo del contenedor */
    padding: 20px; /* Agrega un espacio interno alrededor del contenedor */
    border-radius: 8px; /* Agrega bordes redondeados al contenedor */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agrega una sombra al contenedor */
}

.image {
    flex: 0 0 auto; /* Establece el tamaño del contenedor de la imagen como automático */
    margin-right: 20px; /* Agrega un margen derecho al contenedor de la imagen */
}

.image img {
    width: 300px; /* Aumenta el ancho de la imagen */
    height: 300px; /* Aumenta la altura de la imagen */
    object-fit: cover; /* Ajusta la imagen para cubrir el contenedor */
    border-radius: 8px; /* Agrega bordes redondeados a la imagen */
}

.details {
    flex: 1 1 auto; /* Establece el tamaño del contenedor de los detalles para ocupar el espacio disponible */
}

.details-inner {
    background-color: rgb(250, 207, 216); /* Establece el color de fondo del contenedor de los detalles como blanco */
    padding: 20px; /* Agrega un espacio interno alrededor del contenedor de los detalles */
    border-radius: 8px; /* Agrega bordes redondeados al contenedor de los detalles */
}

.details h2 {
    margin-bottom: 10px; /* Agrega un margen inferior al título de los detalles */
}

.details p {
    margin-bottom: 5px; /* Agrega un margen inferior a los párrafos de los detalles */
}

.details label {
    margin-right: 5px; /* Agrega un margen derecho a las etiquetas de los detalles */
}

button {
    background-color: #007bff; /* Establece el color de fondo del botón */
    color: #fff; /* Establece el color del texto del botón */
    border: none; /* Elimina el borde del botón */
    padding: 10px 20px; /* Agrega un espacio interno dentro del botón */
    border-radius: 4px; /* Agrega bordes redondeados al botón */
    cursor: pointer; /* Cambia el cursor del mouse al pasar sobre el botón */
}

button:hover {
    background-color: #0056b3; /* Cambia el color de fondo del botón cuando el cursor del mouse está sobre él */
}

/*Carrusel*/

.carousel-container-dulces{
    background-color: rgb(250, 207, 216); /* Color de fondo del carrusel */
    padding: 20px; /* Espacio alrededor del carrusel */
    max-width: 100%; /* Ancho máximo del carrusel */
    height: 50vh; /* Altura del carrusel igual al 100% del viewport height */
    margin: 0 auto; /* Centrar el carrusel horizontalmente */
  }
  
  .carousel img {
    width: 100%; /* Ancho automático */
    height: auto; /* Altura automática */
    max-width: 70%; /* Ancho máximo del contenedor */
    max-height: 70%; /* Altura máxima del contenedor */
    object-fit: contain; /* Ajustar imagen al contenedor */
    display: block; /* Cambiar el elemento de imagen a un bloque */
    margin: 0 auto; /* Auto-margen horizontal para centrar */
  }
  
  
  .carousel {
    width: 100%; /* Ancho del carrusel */
    /* Otros estilos del carrusel */
  }
  
  /* Estilo de contenedor principal */
  .carousel {
    
    background-color: rgb(250, 207, 216); /* Color de fondo del carrusel */
    padding: 20px;
    max-width: 100%; /* Ancho máximo del contenedor */
  }
  
  /* Estilo de las imágenes del carrusel */
  
  /* Estilo de los puntos de navegación */
  .slick-dots {
    bottom: 10px;
  }
  
  .slick-dots li button:before {
    color: rgba(180, 114, 125, 0.856);
    font-size: 10px;
  }
  
  .slick-dots li.slick-active button:before {
    color: #000000;
  }
  
  .carousel a {
    display: inline-block;
    padding: 10px;
    background-color: rgba(236, 156, 169, 0.856);
    text-decoration: none;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    max-width: 30%; /* Ancho máximo del contenedor */
  }
  
  .carousel a:hover {
    background-color: rgba(201, 147, 156, 0.856);
  }
  
  
  /*Fin Carrusel*/

  #galery {
    background-image: url("img/banner/Fondo3.png");
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
  }
  
  #galery h2,
  #galery p {
    color: #1a1a1a;
  }

/*formulario*/

.container {
    
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-group textarea {
    height: 100px;
  }
  
  .form-group button {
    padding: 8px 20px;
    background-color: #eb499a;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-group button:hover {
    background-color: #eb499a;
  }